.links {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  font-size: 25px;
}

.links li {
  list-style: none;
}

.links li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 42px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

.links li a .icon {
  position: relative;
  transition: 0.5s;
  z-index: 3;
}

.links li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.links li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.links li a:hover:before {
  top: 0;
}

.links li:nth-child(1) a:before {
  background: #3b5999;
}

.links li:nth-child(2) a:before {
  background: #55acee;
}

.links li:nth-child(3) a:before {
  background-image: linear-gradient(
    to right top,
    #fe7e00,
    #ff652e,
    #ff4b4a,
    #ff3165,
    #ff1c7f,
    #f70a90,
    #eb08a2,
    #da18b4,
    #c022c0,
    #a02dcb,
    #7738d4,
    #3540da
  );
}

.links li:nth-child(4) a:before {
  background: #2fbb4f;
}

@media (max-width: 600px) {
  .links li a {
    width: 35px;
    height: 35px;
    line-height: 19px;
  }

  .icon {
    font-size: 15px;
  }
}
