.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/hero2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.9) 0px -50px 80px -28px inset;
  overflow: hidden;
  z-index: -1;
}

.hero__name {
  font-weight: bold;
  font-size: 4rem;
  color: var(--primary);
}

.hero__name--abs {
  z-index: 1;
  font-size: 1.3rem;
  position: absolute;
  top: 42%;
  text-shadow: 1px 1px 5px var(--dark);
  /* font-weight: bold; */
}

.hero__occuppation {
  position: absolute;
  top: 52%;
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px var(--dark);
  font-weight: normal;
}

@media (max-width: 600px) {
  .hero__name {
    font-size: 2.5rem;
  }
  .hero__name--abs {
    top: 44%;
    font-size: 1rem;
  }
  .hero__occuppation {
    top: 51%;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .hero__name {
    font-size: 2rem;
  }
  .hero__name--abs {
    top: 46%;
    font-size: 0.6rem;
  }
  .hero__occuppation {
    font-size: 0.6rem;
  }
}
