.container {
  margin: 15rem auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.tecnologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.tecnologies--color:hover {
  transform: scale(4);
  color: var(--primary);
}

.section__title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 5rem;
}

.tecnologies__tec {
  font-size: 70px;
}

.section__title span {
  border-bottom: 5px solid var(--primary);
}

.section__subtitle {
  opacity: 0.8;
  position: absolute;
  top: 23%;
}

@media (max-width: 600px) {
  .section__title {
    font-size: 2rem;
  }

  .tecnologies__tec {
    font-size: 55px;
  }

  .section__subtitle {
    top: 13%;
    font-size: 0.8rem;
  }
}

@media (max-width: 1449px) {
  .section__subtitle {
    top: 18%;
  }
}

@media (max-width: 773px) {
  .section__subtitle {
    top: 13%;
  }
}

@media (max-width: 531px) {
  .section__subtitle {
    top: 12%;
  }
}

@media (max-width: 424px) {
  .section__subtitle {
    top: 9%;
  }
}

@media (max-width: 339px) {
  .section__subtitle {
    top: 6%;
  }
}
