@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--light);
  background-color: var(--dark);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #118ab2;
  --primary-light: #1fb7ea;
  --light: #fff;
  --dark: #000;
  --dark-medium: #202020;
  --text: #cccccc;
}
