.about {
  margin: 5% auto 0 auto;
  width: 80vw;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
}

.about__description {
  margin-top: 12%;
  opacity: 0.9;
  width: 60%;
}

.about__description p {
  line-height: 1.7;
}

.about__title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
  position: relative;
}

.about__title span {
  border-bottom: 5px solid var(--primary);
}

.about__personal {
  margin-top: 10%;
  width: 60%;
}

.about__info {
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.about__info span {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .about__image {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 890px) {
  .about__image {
    width: 250px;
    height: 150px;
  }
}

@media (max-width: 660px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about__description {
    width: 100%;
  }

  .about__image {
    width: 350px;
    height: 250px;
  }
}
